TelescopeDevice.Driver=NONE
TelescopeDevice.Hardware.File=NONE

TelescopeDevice.Proxy=Telescope:default -h 192.168.224.101 -p 9999
TelescopeDevice.Endpoints=default -h 192.168.224.101 -p 9999

Ice.Warn.Connections=1
Ice.Trace.Network=0
Ice.Trace.Protocol=0
Ice.ThreadPool.Server.Size=5
Ice.ThreadPool.Server.SizeMax=10
Ice.ThreadPool.Server.SizeWarn=7

Ice.Plugin.IceSSL=IceSSL:createIceSSL
Ice.Default.Protocol=ssl
IceSSL.CAs=/opt/ascol_client/ssl/ca.crt
IceSSL.CertFile=/opt/ascol_client/ssl/client.p12
IceSSL.Ciphers=HIGH
